<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1">
    <title>Museo</title>
    <link th:href="@{/css/home.css}" rel="stylesheet">
  </head>
  <body>
    <nav class = 'topnav'>
        <a class="active" th:href="@{/index}">Home</a> 
        <a href="artisti" th:href="@{/artisti}">Autori</a>
        <a href="collezioni" th:href="@{/collezioni}">Collezioni</a>
        <a href="#informazioni">Informazioni</a>
        <div class="dropdown">
        	<button class="dropbtn">Utente
        		<i class="fa fa-caret-down"></i>
        	</button>
        	<div class="dropdown-content">
        		<div sec:authorize="isAnonymous()">
        			<a th:href="@{/login}" th:text="#{index.login}">Login</a>
        			<a th:href="@{/register}" th:text="#{index.register}">Registrati</a>
        		</div>
        		<div sec:authorize="isAuthenticated()">
        			<a th:href="@{/logout}">Esci</a>
        		</div>
        	</div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Follow Us!
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#"><img th:src="@{/images/home/facebook.png}" height = "16px" width="16px">  Facebook</a>
            <a href="#"><img th:src="@{/images/home/instagram.png}" height = "16px" width="16px">  Instagram</a>
          </div>
        </div>
    </nav>
    <header>
      <div id = 'fotomuseo'></div>
      <div id = 'nome'><img th:src="@{/images/home/maxxi.png}" height = "150px" width="451px"></div>
    </header>
    <section>
      <!-- main paragraph --> 
      <div class="paragraph">
      <p class = 'welcome'>Benvenuti nel nostro sito!</p>
      <p>Aperti solo nei giorni dispari con luna calante</p>
      <p>Orario: 7:30 - 9:30</p>
      <p>Attenti alle scale, a loro piace cambiare!</p>
      </div>
      <!-- gallery -->
      <div class = "slideshow">
          <img class="mySlides" th:src="@{/images/home/quadro1.jpg}" style="width:auto; height:680px">
          <img class="mySlides" th:src="@{/images/home/quadro2.jpg}" style="width:auto; height:680px">
          <img class="mySlides" th:src="@{/images/home/quadro3.jpg}" style="width:auto; height:680px">
          <img class="mySlides" th:src="@{/images/home/quadro4.jpg}" style="width:auto; height:680px">

          <script>
          	var slideIndex = 0;
          	carousel();

          	function carousel() {
            	var i;
            	var x = document.getElementsByClassName("mySlides");
            	for (i = 0; i < x.length; i++) {
              	x[i].style.display = "none";
            	}
            	slideIndex++;
            	if (slideIndex > x.length) {slideIndex = 1}
            	x[slideIndex-1].style.display = "block";
            	setTimeout(carousel, 2000); // Change image every 2 seconds
          	}
          </script>
      </div>
    </section>
    <footer th:replace="fragments/myH.html :: fondo(index='/default')"></footer>
  </body>
</html>